{%extends "base.html"%}
{%block body%}
<div class="py-10 px-10"> 
    <p class="text-3xl font-bold"> <a href="/"> Professor Portal </a> </p>
</div>
{%if user.is_authenticated%}
{%if user.is_staff%}

<form action="/addStudent/" method="post">
    {% csrf_token %}
<div class=" flex flex-auto px-8 py-8">
    <div class="px-4"> 
    <label for="year" class = "my-1">Year: </label>
    <br>
    <label for="section" class = "my-1">Section: </label>
    <br>
    <label for="count" class = "my-1">Student Count: </label>
    </div>

    <div>
    <font color = "black"> <input type="text"  class = "my-1" id="year" name="year" required readonly></font>
    <br>
    <font color = "black"> <input type="text" class = "my-1" id="section" name="section" required readonly></font>
    <br>
    <font color = "black"> <input type="number" class = "my-1" id="count" name="count" required readonly></font>
    </div>
</div>

<div class="px-4">
<button type="submit" class="mt-2 mx-4 rounded-md border-2 border-yellow-500 px-1 py-1 hover:bg-yellow-500 border-dotted">Submit</button>
</div>
</form>


{%endif%}
{%endif%}
<div class="fixed bottom-10 left-10">
    <p> Made with ❤️ by Team Tails UVAS</a> </p>
    </div>
{%endblock%}



