{% extends "base.html" %}



{%block body%}
<p class="text-[350%] text-center py-[10%]">  Welcome To Netra AI  </p>

<div class="flex flex-row justify-center">

    <div>
        <button class="btn btn-outline-light mx-10">
            <a href="/profLogin">Continue As Professor</a>
          </button>
    </div>

        
    <div>
        <button class="btn btn-outline-light mx-10">
        <a href="/studLogin"> Continue As Student </a>
        </button>
    </div>

</div>


    
<div class="fixed bottom-10 left-10">
    <p> Made with ❤️ by Team <a href="/">Tails UVAS</a> </p>
    </div>
{%endblock%}