{%extends "base.html"%}
{%block body%}
<div class="py-10 px-10"> 
{%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{%endblock%}

<div class="p-8"> <p class="text-2xl font-bold">Embed Generator </div>

{%if user.is_staff%}


<div class="flex flex-auto justify-left">
<form action="/addStudent/" method="post">
    {% csrf_token %}
<div class="px-8 py-8">
    <div class="flex flex-auto">

        <div>
    <label class="m-1" for="regNo">Registration_Number: </label>
    <br>
    <label class="m-1" for="year">Year: </label>
    <br>
    <label class="m-1" for="section">Section: </label>
    <br>
    <label class="m-1" for="count">CurrentCount: </label>
    <br>
    <label class="m-1" for="image">FaceData</label>
        </div>


        <div>
    <font color = "black"> <input class="m-1" type="text" id="regNo" name="regNo" required></font>
    <br>
    <font color = "black"> <input class="m-1" type="text" id="year" name="year" value={{year}} required readonly></font>
    <br>
    <font color = "black"> <input class="m-1" type="text" id="section" value={{section}} name="section" required readonly></font>
    <br>
    <font color = "black"> <input class="m-1" type="text" id="count" name="count" value={{count}} required readonly></font>
    <br>
    <font color = "black"> <input class="m-1" type="text" id="image" name="image" required readonly></font>
        </div>
        
<br>
</div>

<button type="submit" class="mt-2 rounded-md border-2 border-yellow-500 px-1 py-1 border-dotted">
    Submit
</button>
</div>
</form>

<div id="container" class="px-4">

    <div class="p-1">
    <video id="video" width="300" height="200" autoplay> </video>
    </div>

    <div class="p-1">
    <button class="btn btn-outline-warning" onclick="capture()"> Capture </button> 
        <br> <br> 
    </div>

    <div class="p-1">
    <canvas id="canvas" style ="overflow:auto"></canvas>
    </div>
</div> 

</div>

<script>

    let video = document.querySelector("#video")
    if(navigator.mediaDevices.getUserMedia){
        navigator.mediaDevices.getUserMedia({
            video:true
        })
        .then((stream) => {
            video.srcObject = stream
        })
    }

    function capture(){
        let canvas = document.getElementById('canvas')
        let video = document.getElementById('video')

        canvas.width = 300
        canvas.height = 200
        canvas.getContext('2d').drawImage(video,0,0,200,200)
        let x = canvas.toDataURL()
        const inputField = document.getElementById('image')
        image.value = x;
        
    }
</script>

{%endif%}
{%endblock%}